.imgRedonda {
    width:200px;
    height:200px;
    border-radius:300px;
    border:5px solid #000000;
}

.texto a {
    text-decoration: none;
    color: silver;
}

.texto {
    margin-left: 10px;
    margin-right: 10px;
}

.textoo a {
    text-decoration: none;
}
