img{
    height: 170px;
    width: 250px;
    margin: 20px 10px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}


img:hover{
    height: 181px;
    width: 261px;
    margin-left: 10px 5px;

}


.contenedor{
display:flex;
flex-wrap: wrap;
}
