img{
    height: 190px;
    width: 270px;
    margin: 10px 10px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}


img:hover{
    height: 210px;
    width: 290px;
    margin-left: 15px 10px;

}


.contenedor{
display:flex;
flex-wrap: wrap;
}
